@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.tags {
    @include flex(row, flex-start, center);

    @include tablet-breakpoint {
        margin-left: 0.5rem;
        padding: 0.5rem 0;
    }

    &__filter {
        padding: 1rem 1rem;
        background-color: $alternate-background-color;

        @include tablet-breakpoint {
            padding: 1.5rem 1.5rem 4.5rem 1.5rem;
        }

        @include desktop-breakpoint {
            padding: 1.5rem 2rem 4.5rem 2rem;
        }
    }

    &__button {
        border: .0625rem solid $border-color;
        border-radius: .375rem;
        background-color: $alternate-text-color;
        padding: .375rem .5rem;
        margin: .5rem .25rem;
        @include typeKit(.6563rem, null, 400, null);

        @include tablet-breakpoint {
            @include typeKit(0.8rem, null, 400, null);
            padding: 0.5rem 0.75rem;
            border-radius: .75rem;
        }

        &-filter {
            border: .0625rem solid $primary-accent-color;
            border-radius: .375rem;
            background-color: $alternate-text-color;
            padding: .375rem .5rem;
            margin: .25rem;
            @include typeKit(.75rem, null, 400, null);
            color: $primary-accent-color;

            @include tablet-breakpoint {
                padding: .5rem .75rem;
                border-radius: .75rem;
                font-size: 0.8rem;
            }

            @include desktop-breakpoint {
                font-size: 0.85rem;
                margin-bottom: 0.6rem;
            }
        }
    }

    &__header {
        padding: 0.5rem 0;
        font-size: 1.25rem;
        font-family: $typeface-secondary;
        font-weight: 500;
        // color: $primary-accent-color;
        color: $primary-text-color;

        @include tablet-breakpoint {
            font-size: 1.5rem;
            padding-bottom: 2rem;
        }

        @include desktop-breakpoint {
            padding: 2rem 0 3rem 0;
        }
    }
}
