@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.tags {
    @include flex(row, flex-start, center);
    // width: 85%;

    @include tablet-breakpoint {
        // @include flex(row, flex-end, center);
        // width: 90%;
        margin-left: 0.5rem;
        padding: 0.5rem 0;
    }

    &__button {
        border: .0625rem solid $border-color;
        border-radius: .375rem;
        background-color: $alternate-text-color;
        padding: .375rem .5rem;
        margin: .5rem .25rem;
        @include typeKit(.6563rem, null, 400, null);

        @include tablet-breakpoint {
            @include typeKit(0.8rem, null, 400, null);
            padding: 0.5rem 0.75rem;
            border-radius: .5rem;
        }
    }
}
