@use "./typography" as *;

$typeface: "Newsreader", "Outfit";

$primary-text-color: #0C1E1A; // black
$primary-accent-color: #1E6655; // Forest Green
$primary-background-color: #EFFAF7; //Pistachio
$border-color: #B7CEC9; // sea-green
$alternate-background-color: #E4EFEC; //sage
$alternate-text-color: #FFFFFF; // white