@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.cardlist {
    margin: 0 1rem;

    @include tablet-breakpoint {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 1.5rem;
    }

    @include desktop-breakpoint {
        margin: 2.2rem 2rem;
        gap: 1.1rem;
    }
}
