@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details {
    margin: 6rem 1rem 0 1rem;

    @include tablet-breakpoint {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0 1.5rem;
    }

    @include desktop-breakpoint {
        margin: 2.2rem 2rem;
        gap: 1.1rem;
    }

    &__containers {
        @include flex(column, center, flex-start);
        margin: 1rem 0;
        border-radius: 0.5rem;
        border: .0625rem solid $border-color;
        background-color: $alternate-background-color;

        @include tablet-breakpoint {
            width: calc(50% - 1rem);
            margin: 0.5rem 0 0 0;
        }

        @include desktop-breakpoint {
            width: calc(33.3% - 1.1rem);
        }
    }

    &__image {
        width: 100%;
        background-color: $alternate-background-color;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &__container {
        margin: 0 1rem;
        width: 100%;
        font-family: $typeface-secondary;
    }

    &__box {
        @include flex(row, space-between, center);
        // width: 80%;
        margin-right: 2rem;
        margin-top: 0.6rem;
    }

    &__group {
        @include flex(row, flex-start, center);
        gap: 0.2rem;
    }

    &__icon {
        width: 20%;
    }

    &__like {
        font-size: 0.8rem;
    }

    &__date {
        font-size: 0.8rem;
    }

    &__name {
        font-family: $typeface-secondary;
        background-color: $alternate-background-color;
        padding: .6rem 0 1rem 0;
        border-top-left-radius: .375rem;
        @include typeKit(.75rem, null, 400, null);
        width: 80%;

        @include tablet-breakpoint {
            font-size: 0.7rem;
        }

        &--space {
            padding-left: 0.3rem;
        }
    }
}