@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details {
    margin: 6rem 1rem 0 1rem;

    @include tablet-breakpoint {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        gap: 1rem;
        margin: 7rem 1.5rem 0 1.5rem;
    }

    @include desktop-breakpoint {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    &__containers {
        @include flex(column, center, flex-start);
        margin: 1rem 0;
        border-radius: 0.5rem;
        border: .0625rem solid $border-color;
        background-color: $alternate-background-color;

        @include tablet-breakpoint {
            width: 100%;
            margin: 0.5rem 0 0 0;
        }
    }

    &__image {
        width: 100%;
        background-color: $alternate-background-color;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &__container {
        margin: 0 1rem;
        width: 100%;
        font-family: $typeface-secondary;
    }

    &__box {
        @include flex(row, space-between, center);
        margin-right: 2rem;

        @include tablet-breakpoint {
            margin: 0.5rem 2rem 2rem 1rem;
        }

        &-name {
            display: none;

            @include tablet-breakpoint {
                display: block;
            }

            @include desktop-breakpoint {
                font-size: 1.2rem;
            }
        }
    }

    &__group {
        @include flex(row, flex-start, center);
        gap: 0.2rem;
    }

    &__icon {
        width: 20%;
    }

    &__like {
        font-size: 0.8rem;

        @include tablet-breakpoint {
            font-size: 1rem;
            width: 100%;
        }

        @include desktop-breakpoint {
            font-size: 1.2rem;
        }
    }

    &__date {
        font-size: 0.8rem;

        @include tablet-breakpoint {
            font-size: 1rem;
        }

        @include desktop-breakpoint {
            font-size: 1.2rem;
        }
    }

    &__name {
        font-family: $typeface-secondary;
        background-color: $alternate-background-color;
        padding: .6rem 0 1rem 0;
        border-top-left-radius: .375rem;
        @include typeKit(.75rem, null, 400, null);
        width: 80%;

        @include tablet-breakpoint {
            display: none;
        }

        &--space {
            padding-left: 0.3rem;
        }
    }
}