@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
    padding: 1rem 0;
    border-top: 1px solid $primary-accent-color;
    font-family: $typeface-secondary;

    &__box {
        @include flex(row, space-between, center);
        margin-bottom: 1rem;
    }

    &__name {
        font-size: 0.7rem;
        color: $primary-accent-color;

        @include tablet-breakpoint {
            font-size: 0.8rem;;
        }
    }

    &__date {
        @extend .comment__name;

        @include tablet-breakpoint {
            font-size: 0.8rem;
        }
    }

    &__comment {
        font-size: 0.8rem;

        @include tablet-breakpoint {
            font-size: 1.2rem;
        }
    }
}