@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
    padding: .5rem 1rem;
    border: .125rem solid $primary-accent-color;
    border-radius: 40rem;
    color: $primary-accent-color;
    background-color: $alternate-text-color;

    &:hover {
        background-color: $primary-accent-color;
        color: $alternate-text-color;
    }

    @include tablet-breakpoint {
        padding: .6875rem 1.375rem;
    }

    &__image {
        margin-left: .5rem;

        // Fix the hover state on the image icon
        // &:hover {
        //     color: $alternate-text-color;
        // }
    }
}
