@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    font-family: $typeface-secondary;
    padding: 4rem 1rem 1rem 1rem;

    @include tablet-breakpoint {
        padding: 4rem 1.5rem 3rem 1.5rem;
    }

    @include desktop-breakpoint {
        padding: 4rem 2rem 3rem 2rem;
    }

    &__container {
        padding: 2rem 0 1rem 0;

        @include tablet-breakpoint {
            @include flex(row, flex-start, center);
            margin-bottom: 12rem;
        }
    }

    &__logo {
        @include tablet-breakpoint {
            flex: 1;
        }

        @include desktop-breakpoint {
            flex: 1;
        }
    }

    &__box {
        @include tablet-breakpoint {
            @include flex(row, flex-end, baseline);
            gap: 5rem;
        }

        @include desktop-breakpoint {
            width: 60%;
        }
    }

    &__contents {
        @include typeKit(.8125rem, 1.5rem, 400, normal);
        padding-top: 1rem;

        @include tablet-breakpoint {
            @include typeKit(1.25rem, 2rem, 400, normal);
        }
    }

    &__content {
        @extend .footer__contents;

        @include tablet-breakpoint {
            @extend .footer__contents;
        }
    }

    &__socials {
        padding-top: 2rem;
        @include flex(row, flex-start, center);
        width: 50%;
        gap: 1rem;

        @include tablet-breakpoint {
            display: none;
        }

        @include desktop-breakpoint {
            @include flex(row, flex-end, null);
            width: 20%;
            padding: 0;
        }
    }

    &__securities {
        @include flex(row, flex-start, center);
        font-size: 0.8rem;
        color: $border-color;
        gap: 1rem;

        @include tablet-breakpoint {
            @include flex(column, center, flex-start);
        }

        &-socials {
            display: none;

            @include tablet-breakpoint {
                @include flex(row, flex-start, center);
                gap: 1rem;
            }

            @include desktop-breakpoint {
                display: none;
            }
        }

        &-terms {
            @include flex(row, flex-start, center);
            gap: 1rem;
        }
    }
}