@use "../src/styles/partials/globals" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

.app-aside {
    @include desktop-breakpoint {
        float: right;
        width: 25%;
        max-height: 100vh;
        margin-left: 2rem;
        padding-bottom: 360rem;
        background-color: $alternate-background-color;
    }
}
