@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.nav {
    @include flex(row, space-between, center);
    padding: 1.5rem 1rem;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 5000;


    @include tablet-breakpoint {
        padding: 2rem 1.5rem;
    }

    @include desktop-breakpoint {
        padding: 2.2rem 2rem;
    }
}
